@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

/* Re-assign Flux's gray of choice... */
@theme static {
    --font-sans: Inter, sans-serif;
    --font-mono: 'Source Code Pro', monospace;
    --font-serif: 'Noto Serif', Times, serif;
}

@layer base {
    .border, .border-b, .border-r, .border-t, .border-l {
        @apply border-gray-200 dark:border-zinc-800;
    }
}

@theme {

    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);
    --color-green-500: #21C16B;
}

@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* this is not possible with tailwind */
.note-list-item:has(a:hover, [data-current]),:has(a:hover, [data-current])+.note-list-item {
    border-color: transparent !important;
}

.slide-in {
    transition: width 0.3s ease;
}

dialog::backdrop {
    @apply  bg-zinc-950/50;
}

[x-cloak] {
    display: none;
}