@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

/* Re-assign Flux's gray of choice... */
@theme static {
    --font-sans: Inter, sans-serif;
    --font-mono: 'Source Code Pro', monospace;
    --font-serif: 'Noto Serif', Times, serif;
}

@layer base {

    .border,
    .border-b,
    .border-r,
    .border-t,
    .border-l,
    .lg\:border-b {
        @apply border-gray-200 dark:border-zinc-800;
    }
}

@theme {
    --color-zinc-950: #0e121b;
    --color-zinc-900: #191b25;
    --color-zinc-800: #232530;
    --color-zinc-700: #2b303b;
    --color-zinc-600: #525866;
    --color-zinc-500: #717784;
    --color-zinc-400: #99a0ae;
    --color-zinc-300: #cacfd8;
    --color-zinc-200: #e0e4ea;
    --color-zinc-100: #f3f5f8;
    --color-zinc-50: #f5f 7fa;
    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);
    --color-blue-700: #2547d0;
    --color-blue-500: #335cff;
    --color-blue-100: #ebf1ff;
    --color-green-500: #21C16B;
    --color-green-100: #d1fbe9;
    --inset-shadow-subtle: rgba(240, 240, 240, 0.6) 0px -4px 6px inset;
}
@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
        --inset-shadow-subtle: rgba(0, 0, 0, 0.3) 0px -4px 6px inset;
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply ring-2 ring-zinc-500 ring-offset-1 ring-offset-transparent;
}

[data-flux-button]:focus-visible {
    @apply ring-2 ring-zinc-500 ring-offset-1 ring-offset-transparent;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* this is not possible with tailwind */
.note-list-item:has(a:hover, [data-current]),
:has(a:hover, [data-current])+.note-list-item {
    border-color: transparent !important;
}

.slide-in {
    transition: width 0.3s ease;
}

dialog::backdrop {
    @apply bg-zinc-950/50;
}

[x-cloak] {
    display: none;
}

body:has(>[data-flux-main]) {
    grid-template-columns: 100%;
    grid-template-rows: min-content minmax(300px, 1fr) min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

[data-flux-main] {
    overflow-y: auto;
}

body:has(.note-editor) {
    grid-template-rows: minmax(100px, 1fr) minmax(300px, 1fr) min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}



@media (width < 64rem) {
    body:has(:is(>[data-flux-main],.note-editor)) [data-flux-sidebar] {
        display: none;
    }
}

@media (width >=64rem) {
    body:has(.note-editor) {
        grid-template-areas:
            "sidebar header header"
            "sidebar main aside";
    }

    [data-flux-main]:has(.note-editor) {
        grid-template-areas:
            "innersidebar innermain";
    }

    body:has(>[data-flux-main]) {
        grid-template-rows: min-content 1fr;
        grid-template-columns: min-content 1fr min-content;
        grid-template-areas:
            "sidebar header header"
            "sidebar main aside";
    }

    [data-flux-main] {
        grid-template-columns: min-content auto;
        grid-template-rows: min-content;
        grid-template-areas:
            "innersidebar innermain";
    }
}