@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

/* Re-assign Flux's gray of choice... */
@theme static {
    --font-sans: Inter, sans-serif;
    --font-mono: 'Source Code Pro', monospace;
    --font-serif: 'Noto Serif', Times, serif;
}

@theme {
    --color-zinc-50: #F5F7FA; 
    --color-zinc-100: #E0E4EA;
    --color-zinc-200: var(--color-zinc-300);
    --color-zinc-300: #CACFD8;
    --color-zinc-400: #717784;
    --color-zinc-500: var(--color-zinc-950);

    --color-zinc-600: #525866;
    --color-zinc-700: #2B303B;
    --color-zinc-800: #232530;
    --color-zinc-900: #191B25;
    --color-zinc-950: #0E121B;
    
    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* this is not possible with tailwind */
[data-current]+a {
    border-color: transparent !important;
}
